# Flutter build artifacts
**/build/
**/.dart_tool/
**/.pub-cache/
**/.pub/
**/.flutter-plugins*
**/app.*.symbols
**/app.*.map.json

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.idea/
.vscode/
*.iml
